body {
    background-image: url(../images/5570863.jpg);
    background-size: 100rem;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 15rem;
}

.projects {
    margin-top: 7.5rem;
}

.profile-grid {
    display: grid;
    grid-template-columns: 500px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.name {
    grid-area: 1/1/2/2;
    color: #3F72AF;
    font-family: 'Open Sans', sans-serif;
}

.description {
    grid-area: 2/1/3/2;
    color: #112D4E;
    font-family: 'Work Sans', sans-serif;
}

.profile-picture {
    grid-area: 1/2/4/3;
}

.projects-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: auto 180px 180px;
}

.box {
    background-color: #112D4E;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    grid-column: span 3;
    text-align: center;
}